.header__lang-link {
  margin: 0;
  padding: 0;

  font-family: 'Inter';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  text-align: right;

  text-decoration: none;
  color: #fff;

  cursor: pointer;

  transition-property: opacity;
  transition-duration: .4s;
  transition-timing-function: linear;
}

.header__lang-link:hover {
  opacity: 0.8;
}

@media (max-width: 320px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 1.11;
  }
}