.intro_position {
  margin-left: 148px;
}

@media screen and (max-width: 1279px) {
  .intro_position {
    margin-left: calc((148px - (1280px - 100vw) * 0.39));
  } 
}

@media screen and (max-width: 1024px) {
  .intro_position {
    margin-left: calc((48px - (1024px - 100vw) * 0.09));
  } 
}

@media screen and (max-width: 768px) {
  .intro_position {
    margin-left: calc((24px - (768px - 100vw) * 0.02));
  }
}

@media screen and (max-width: 425px) {
  .intro_position {
    margin-left: 16px;
  }
}

@media screen and (max-width: 320px) {
  .intro_position {
    margin-left: 16px;
  }
}
