.places {
  max-width: 984px;
  margin: 0 auto;
  padding: 92px 0;

  box-sizing: border-box;
  
  display: flex;
  flex-direction: column;

  border: 1px solid red;
}

@media (max-width: 1024px) {
  .places {
    max-width: 928px;
  }
}

@media (max-width: 768px) {
  .places {
    max-width: 720px;
    padding-top: 88px;
    padding-bottom: 90px;
  }
}

@media (max-width: 320px) {
  .places {
    max-width: 320px;
    padding-top: 64px;
    padding-bottom: 66px;
  }
}
