.intro__list {
  max-width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .intro__list {
    max-width: 720px;
  }
}

@media (max-width: 320px) {
  .intro__list {
    max-width: 288px;
  }
}