.header {
  max-width: 1184px;
  margin: 0 auto;
  padding: 28px 48px 56px;

  /* box-sizing: border-box; */

  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1024px) {
  .header {
    max-width: 928px;
    padding-bottom: 48px;
  }
}

@media (max-width: 768px) {
  .header {
    max-width: 720px;
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 48px;
  }
}

@media (max-width: 320px) {
  .header {
    max-width: 288px;
    padding-top: 18px;
    padding-right: 18px;
    padding-left: 18px;
  }
}