.footer__nav-link {
  margin: 0;
  padding: 0;

  font-family: 'Inter', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.12;
  font-weight: 400;
  font-style: normal;

  color: #fff;

  text-decoration: none;
  cursor: pointer;

  transition-property: opacity;
  transition-duration: .4s;
  transition-timing-function: linear;
}

.footer__nav-link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 425px) {
  .footer__nav-link {
    font-size: 24px;
    line-height: 1;
  }
}
