.intro {
  max-width: 690px;
  min-width: 288px;
  margin: 0;
  padding: 92px 0;
}

@media screen and (max-width: 1024px) {
  .intro {
    max-width: calc(690px + ((1024px - 100vw) * 0.12));
  }  
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: calc(720px - ((768px - 100vw) * 1.26));
    padding-top: 88px;
    padding-bottom: 88px;
  }
}

@media screen and (max-width: 425px) {
  .intro {
    max-width: 288px;
    padding-top: 64px;
    padding-bottom: 64px;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    max-width: 288px;
    padding-top: 64px;
    padding-bottom: 64px;
  }
}