.intro {
  max-width: 690px;
  min-width: 288px;
  margin: 0;
  margin-left: 11%;
  padding: 92px 0;

  position: relative;
  /* left: -146px; */

  border: 1px solid red;
}

@media (max-width: 1024px) {
  .intro {
    max-width: 690px;
    padding-top: 92px;
    padding-bottom: 92px;
  }
}

@media (max-width: 720px) {
  .intro {
    max-width: 720px;
    padding-top: 88px;
    padding-bottom: 64px;
  }
}

@media (max-width: 425px) {
  .intro {
    width: 100vw;
    padding-top: 64px;
    padding-bottom: 64px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 320px) {
  .intro {
    max-width: 100vw;
    min-width: 288px;
    padding-top: 64px;
    padding-bottom: 64px;
    padding-left: 16px;
    padding-right: 16px;
  }
}