.lead__subtitle {
  max-width: 640px;
  min-width: 288px;
  margin: 0 auto;
  margin-bottom: 64px;
  padding: 0;

  box-sizing: border-box;
  
  font-family: 'Inter', Arial, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;

  color: #fff;
}


@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    margin-bottom: 56px;
    font-size: calc(100vw / 25.6);
  }
}


@media screen and (max-width: 425px) {
  .lead__subtitle {
    max-width: 288px;
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 1.25;
  }
}
