.cover {
  max-width: 1184px;
  min-width: 288px;
  height: 760px;
  min-height: 200px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;

  background-image: url("../../images/cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.cover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: #2A2C2F;
  opacity: 0.3;

  transition-property: opacity;
  transition-duration: .4s;
  transition-timing-function: linear;
}

.cover:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 1184px) {
  .cover {  
    max-width: 100vw;
    height: 62.5vw;
  }
}
