.cover__title {
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 32px;
  padding: 0;
  position: relative;
  font-family: 'Inter';
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 1.06;
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 425px) {
  .cover__title {
    margin-bottom: 16px;
    font-size: 32px;
    font-weight: 900;
    line-height: 1.09;
  }  
}

@media screen and (max-width: 320px) {
  .cover__title {
    margin-bottom: 16px;
    font-size: 32px;
    font-weight: 900;
    line-height: 1.09;
  }  
}