.footer {
  max-width: 100%;
  min-width: 186px;
  margin: 0;
  padding: 92px 48px 24px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/*
@media (max-width: 1024px) {
  .footer {

  }
}
*/

@media (max-width: 768px) {
  .footer {
    padding-top: 86px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
  }
}

@media (max-width: 425px) {
  .footer {
    padding-top: 64px;
    padding-left: 16px;
    padding-bottom: 24px;

    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

@media (max-width: 320px) {
  .footer {
    padding-top: 64px;
    padding-left: 16px;
    padding-bottom: 24px;

    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}