.place__description {
  max-width: 100%;
  margin: 0;
  padding: 0;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  box-sizing: border-box;
}

@media screen and (max-width: 425px) {
  .place__description {
    padding-left: 16px;
    padding-right: 16px;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

@media screen and (max-width: 320px) {
  .place__description {
    padding-left: 16px;
    padding-right: 16px;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
  }
}
