.place__description {
  max-width: 100%;
  margin: 0;
  padding: 0;
  grid-area: description;
  box-sizing: border-box;
}

@media screen and (max-width: 425px) {
  .place__description {
    padding-left: 16px;
    padding-right: 16px;
  }
}
