.place__website {
  max-width: 100%;
  margin: 0;
  padding: 0;
  grid-area: website;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
}

@media screen and (max-width: 425px) {
  .place__website {
    padding-left: 16px;
    padding-right: 16px;
  }
}
