.intro__title {
  max-width: 100%;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.05;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .intro__title {
    font-weight: 900;
    font-size: calc(100vw / 14.2);
    line-height: 1.05;
  }
}

@media screen and (max-width: 425px) {
  .intro__title {
    font-size: 32px;
    line-height: 1.09;
  }
}

@media screen and (max-width: 320px) {
  .intro__title {
    font-size: 32px;
    line-height: 1.09;
  }
}